<% layout('layouts/boilerplate') %>
<div class="text-wrapper">
  <div class="text-title">
    <h1 class="sub-work-title reveal"><%= project.display %></h1>
    <h2 class="sub-work-subtitle reveal"><%= project.subtitle%></h2>
  </div>

  <div class="text-body">
    <%- project.description && `<p class="sub-work-desc reveal">${project.description}</p>` %>
    <%- project.collaborators && `<p class="sub-work-collabs reveal">${project.collaborators}</p>` %>
    <%- project.photographers && `<p class="sub-work-collabs reveal">${project.photographers}</p>` %>
    <%- project.assistant && `<p class="sub-work-collabs reveal">${project.assistant}</p>` %>
    <%- project.hmua && `<p class="sub-work-collabs reveal">${project.hmua}</p>` %>
    <%- project.models && `<p class="sub-work-collabs reveal">${project.models}</p>` %>
  </div>
</div>
<div class="image-grid <%= project.images.length === 1 ? 'single-image' : '' %>">
  <% project.images.forEach(item => { %>
    <div class="image-wrapper reveal <%= project.images.length === 1 ? 'single-wrapper' : '' %>">
        <div class="sub-work-img no-hover"></div>
        <img src="<%= item %>" alt="">
    </div>
  <% }) %>
</div>
<div class="btn-wrapper">
  <a href="/work/<%= work %>" class="btn btn-primary back-btn">Back</a>
</div>

<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-img" src="">
</div>

<script>
  (function(){
    const images = document.querySelectorAll('.image-wrapper img');
    const lightbox = document.getElementById('lightbox');
    const lightboxImg = document.querySelector('.lightbox-img');
    const closeBtn = document.querySelector('.lightbox .close');

    images.forEach(img => {
      img.addEventListener('click', () => {
        lightboxImg.src = img.src;
        lightbox.classList.add('show'); // fade+zoom in
        document.body.classList.add('no-scroll');
      });
    });

    function closeLightbox() {
      lightbox.classList.remove('show'); // fade+zoom out
      document.body.classList.remove('no-scroll');
      setTimeout(() => {
        lightboxImg.src = ''; // reset image after animation
      }, 300); // match CSS transition duration
    }

    closeBtn.addEventListener('click', closeLightbox);

    lightbox.addEventListener('click', e => {
      if (e.target === lightbox) closeLightbox();
    });
  })();
</script>
